<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

		<title>Grookle</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>


		<script type="text/javascript">
			$(function() {
				$('nav#menu').mmenu({
					classes: 'mm-light'
				});
			});
		</script>
</head>
<body>
		<div id="page">
			<section class="add-new">
				<a href="#add-new" class="add-new-icon"></a>
			</section>
			
			<div id="header">
				<a href="#menu"></a>
				Grookle
			</div>
			
			<div id="content">
		<%= yield%>
		
		<nav id="menu">
				<ul>
					<li class="Selected"><a href="index.html">Menu item #2</a></li>
					<li><a href="#.html">Menu item #2</a></li>
				</ul>
			</nav>
			
		</div>
</body>
</html>